* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    /* font-family: 'poppins'; */

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10em;
    line-height: 1.6;
    font-size: 16px;
    padding: 0;
    background-color: rgb(238, 236, 212);

}

.project-header {
    position: relative;
    top: 9em;
    padding: 18px;
    background-color: rgb(245, 243, 230);
    border-radius: 18px;
    margin: 1em;
    box-shadow: 0 8px 32px 0 rgba(60, 40, 10, 0.18), 0 1.5px 6px 0 rgba(197, 98, 11, 0.08);
    background: linear-gradient(135deg, #f8e6c1 0%, #f7eaf7 100%);
}




.project-header h1 {
    font-size: 2.5rem;
    color: #c5620b;
    text-align: center;

}

.intro-image {
    display: flex;
    justify-content: center;
    /* margin: 20px 0; */
    align-items: center;
    background: linear-gradient(135deg, #f1b45922 0%, #ebaff922 100%);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(197, 98, 11, 0.08);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-info {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    flex-wrap: wrap;
    font-size: 14px;
    border-top: 1px solid black;

}


.project-info,
ul {
    list-style: none;
    padding: 10px;
    margin: 0 10px 0 0;
}

.project-info ul li:first-of-type {
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 3em;
    background-color: white;
    border-radius: none
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #c5620b;
    font-weight: 400;
    /* Lighter than 400, but still readable */
}


.preparation {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.two-columns{
    display: flex;
    flex-direction: column;
    gap:2em;
}
.project-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: none;


}

.project-intro {
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(197, 98, 11, 0.06);
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.5em;
    line-height: 1.7;
    transition: box-shadow 0.3s;
    border-left: 6px solid #c5620b;
}





h3 {
    color: #c5620b;
    font-weight: 400;

}

.tools ul {
    list-style-type: disc;
}

.raw-data-container {
    display: flex;
    flex-direction: column;

}

.raw-data {
    padding: 0;
    margin: 0;
    gap: 0;
}


.raw-data ul {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    list-style-type: disc;

}

.raw-data ul li {
    font-style: italic;

}

.angle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 2em;



}

.angle ul {
    list-style: decimal;
}

.angle li {
    padding: .2em;
}


h4 {
    font-style: oblique;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: .2em;
    text-align: center;
    color: black;


}

h5 {
    font-size: 18px;
    font-weight: 300px;
 


}

.variables {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-top: 2em;
}

h6 {
    font-size: 18px;
    font-weight: 300px;
    padding-bottom: .5em;
    color: #c5620b;
}



.angle-1 p:nth-of-type(2) {
    font-weight: bold;
    padding-top: 1em;

}

.angle-1 ul {
    list-style: decimals;
}

.angle-1 figure {
    padding: 1em
}

.angle-1 figure img {
    max-width: 100%;

}

.angle-1 figure figcaption {
    text-align: center;
    font-size: 16px;
    padding-top: .5em;
    font-style: italic;
    font-weight: bold;
    color: rgb(68, 130, 188)
}



.iterations-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap:2em;
    padding-top: 1em;



}

.iterations-imgs img {
    max-width: 100%;
}



.iterations-imgs figure figcaption {
    text-align: center;
    font-size: 16px;
    padding-top: .5em;
    font-style: italic;
    font-weight: bold;
    color: rgb(68, 130, 188)
}

.final-poster{
    padding-top: 2em;
}

.final-poster figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.final-poster img {
    width: 50%;
    max-width: 800px;
}



.final-poster figure figcaption {
    text-align: center;
    font-size: 16px;
    padding-top: .5em;
    font-style: italic;
    font-weight: bold;
    color: rgb(68, 130, 188)
}

strong {
    color: rgb(46, 42, 42)
}


.zoomable {
    cursor: zoom-in;
}

/* Lightbox overlay */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    /* vertically center */
    justify-content: center;
    /* horizontally center */
    z-index: 1000;
}

/* Zoomed image */
#lightbox-img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

/* Tablet & Desktop */
@media screen and (min-width: 768px) {



    body {
        gap: 7.5em;
        font-size: 16px;
        line-height: 1.5;

    }


    .project-header {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin: 2em;
        padding: 4em
    }

    .project-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%
    }

    .intro-image {
        margin: 0;
        max-width: 100%;

    }



    .project-info {
        flex-direction: column;
        border: none;
        background-color: rgba(255, 253, 255, 0.493);
        border-radius: 10px;

    }

    .project-container {
        margin: 0 7em;
    }

    .two-columns {
        display: flex;
        gap: 4em;

    }

    .two-columns div {
        max-width: 50%;
    }

    .tools ul {
        padding-left: 1.5em;
    }

    .raw-data ul {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-left: 2em;

    }



    .angle h4 {
        max-width: 50%;
    }

    .angle-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      
    }


    .angle-1 figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .angle-1:nth-of-type(3) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3em;
    }


    .angle-1:nth-of-type(3) div {
        max-width: 50%;

    }

    .angle-1:nth-of-type(4) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3em;
        gap: 3em;
    }


    .angle-1:nth-of-type(4) div {
        max-width: 50%;

    }



    .angle-1 img {
        max-width: 100%;
    }

    .iterations {
        padding-top: 2em;
    }

    .iterations-imgs {
        gap: 3em;
    }


}