* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    /* font-family: 'poppins'; */

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10em;
    line-height: 1.5;
    padding: 0;
    background-color: rgb(238, 236, 212);

}

.project-header h1 {
    font-size: 3rem;
    color: #c5620b;

}

.intro-image {
    display: flex;
    justify-content: center;
    /* margin: 20px 0; */
    align-items: center;
    background: linear-gradient(135deg, #f1b45922 0%, #ebaff922 100%);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(197, 98, 11, 0.08);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-info,
ul {
    list-style: none;
    padding: 10px;
    margin: 0 10px 0 0;
}

.project-info ul li:first-of-type {
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 3em;
    background-color: white;
    border-radius: none
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 2em
}



.preparation {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


h3 {
    color: #c5620b;
    font-weight: 400;

}

.tools ul {
    list-style-type: disc;
}

.raw-data {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.raw-data ul {
    list-style-type: disc;
    padding: .2em;
}

.angle {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.angle li {
    padding: .2em;
}


h4 {
    font-style: oblique;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: .2em;
    text-align: center;
    color: black;

}

h5 {
    font-size: 18px;
    font-weight: 400;
    font-weight: bold;


}

.variables {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

h6 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: .5em;
}

.angle-1 p:nth-of-type(2) {
    font-weight: bold;
    padding-top: 1em;

}

.angle-1 figure {
    padding: 1em
}

.angle-1 figure img {
    max-width: 100%;

}

.angle-1 figure figcaption {
    text-align: center;
    font-size: 16px;
    padding-top: .5em;
    font-style: italic;
    font-weight: bold;
    color: rgb(68, 130, 188)
}

.iterations-imgs{
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
}


.iterations-imgs figure img{
    max-width: 100%;
    height: auto;
 
}
.iterations-imgs figure figcaption {
    text-align: center;
    font-size: 16px;
    padding-top: .5em;
    font-style: italic;
    font-weight: bold;
    color: rgb(68, 130, 188)
}
