* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    /* font-family: 'poppins'; */

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10em;
    line-height: 1.5;
    padding: 0;
    background-color: rgb(238, 236, 212);

}





.project-header {
    position: relative;
    top: 9em;
    padding: 18px;
    background-color: rgb(245, 243, 230);
    border-radius: 18px;
    margin: 1em;
    box-shadow: 0 8px 32px 0 rgba(60, 40, 10, 0.18), 0 1.5px 6px 0 rgba(197, 98, 11, 0.08);
    background: linear-gradient(135deg, #f8e6c1 0%, #f7eaf7 100%);
}

.project-header h1 {
    font-size: 1.5rem;
    color: #c5620b;
    text-align: center;
    font-family: Merriweather;


}

.read-more-btn {
    background-color: white;
    color: #c5620b;
    border: 2px solid #c5620b;
    font-size: 14px;
    border-radius: 20px;
    padding: .5em 1em;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}

.read-more-btn:hover {
    transform: translateY(-2px);
    background-color: #904707;
    color: white;
}



.intro-image {
    display: flex;
    justify-content: center;
    /* margin: 20px 0; */
    align-items: center;
    background: linear-gradient(135deg, #f1b45922 0%, #ebaff922 100%);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(197, 98, 11, 0.08);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.project-info {
    display: flex;
    gap: 2em;
    padding: 2em;
    flex-wrap: wrap;
    font-size: 14px;
    border-top: 1px solid black;

}

.project-info,
ul {
    list-style: none;
    margin: 0;

}

.project-info ul li:first-of-type {
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 3em;
    background-color: white;
    border-radius: none
}

.project-intro {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(197, 98, 11, 0.06);
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.5em;
    line-height: 1.7;
    transition: box-shadow 0.3s;
    border-left: 6px solid #c5620b;
}

.project-intro p:nth-of-type(2) {
    padding: 1em;
}

.project-section1,
.project-section2 {
    display: flex;
    flex-direction: column;
    gap: 2em;

}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #c5620b;
    font-weight: 400;
    /* Lighter than 400, but still readable */
}

.two-columns {
    display: flex;
    flex-direction: column;
    gap: 2em;

}



.design-process ul {
    display: flex;
    flex-direction: column;
    font-size: 16x;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #c5620b
}


.design-process ul li {
    color: #c5620b;
    list-style: decimal-leading-zero;
}

.design-process ul li a {
    text-decoration: none;
    color: #c5620b;
}


.design-process h2 {
    text-align: center;
    margin-bottom: 1em;
}

#research,
#ideation,
#concept,
#prototype,
#validation {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

h3 {
    color: #c5620b;
    font-size: 1.7rem;
    font-weight: 500;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #c5620b;
    font-weight: 500;
    margin-top: 1em;
}

.User-interviews-persona {
    padding: 1em;

}



.User-interviews-persona figure img,
.stakeholder-map figure img,
.pve figure img,
.access-level figure img,
.wireframe figure img,
.userstory-map figure img,
#validation figure img,
.wireframe figure img {
    padding: 1em;
    max-width: 100%;
    height: auto;
    background-color: white;

}

figcaption {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.5em;
}

.hkj-method div {
    display: flex;
    flex-shrink: inherit;
    gap: 1em;
    padding: 2em;

}

.hkj-method figure img {
    max-width: 100%;


}

.access-level ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 1em;
}

.validation h4 p {
    font-size: 14px;
    color: black;
}


.zoomable {
    cursor: zoom-in;

}

/* Lightbox overlay */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    /* vertically center */
    justify-content: center;
    /* horizontally center */
    z-index: 1000;
}

/* Zoomed image */
#lightbox-img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: white;
}

.lessons ul {
    list-style-type: circle
}

.lessons ul li {
    text-decoration: dotted;
    padding: 1em;
}

@media screen and (min-width: 768px) {


    body {
        gap: 7.5em;
        font-size: 16px;
        line-height: 1.5;

    }

    .project-header {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin: 2em;
        padding: 4em
    }

    .project-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%
    }

    .intro-image {
        margin: 0;
        max-width: 100%;

    }

    .project-info {
        flex-direction: column;
        border: none;
        background-color: rgba(255, 253, 255, 0.493);
        border-radius: 10px;

    }


    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5em 10em;
        gap: 1em;
    }

    .two-columns {
        display: flex;
        flex-direction: row;
        padding: 2em;
        line-height: 1.6,



    }

    .project-header h1 {
        font-size: 2rem;

    }



    .design-challenge h2 {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
    }

    .design-challenge p {
        text-align: center
    }

    .design-process {
        padding: 1em 3em;
        background-color: rgb(229, 225, 231);
        border-radius: 1em;

    }

    .design-process ul {
        display: flex;
        flex-direction: row;
        gap: 4em;
    }

    .design-process ul li {
        font-size: large;
    }

    .design-process ul li a {
        font-size: 18;
        font-weight: 500;
    }

    .design-process ul li a:hover {
        color: rgb(117, 6, 134)
    }

    .design-process ul li:hover {
        color: rgb(117, 6, 134)
    }

    .design-process ul li a:active {
        text-decoration: underline;
    }

    .process {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }



    .User-interviews-persona div,
    .stakeholder-map div {
        display: flex;
        gap: 2em;
        align-items: flex-start;

    }

    .User-interviews-persona div p {
        max-width: 40%;
        /* max-height: 50%; */
    }

    .User-interviews-person figure img {
        width: 50%;
        height: 50%
    }

    .stakeholder-map {
        display: flex;
        justify-content: center;

    }


    .stakeholder-map div {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 70%;
        padding: 0;
    }

    .stakeholder-map figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stakeholder-map figure img {
        max-width: 60%;
    }

    .pve {
        display: flex;


    }

    .pve {
        display: flex;
        gap: 2em;
        flex-direction: row-reverse;
    }

    .pve figure {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .pve figure img {
        max-width: 70%;
        border: 5px solid rgb(166, 215, 230);
        border-radius: 10px;

    }

    .hkj-method {
        padding: 2em 3em;
    }


    .hkj-method figure img {
        width: 100%;
    }

    .heading {
        text-align: center;
        font-size: 1.5rem;
    }

    .heading p {
        text-align: center;
    }

    .access-level-columns {
        display: flex;
        gap: 2em;

    }

    .access-level-columns p {
        width: 50%;
    }

    .access-level figure {
        display: flex;
        justify-content: center;

    }

    .access-level figure img {
        width: 40%;
    }

    .wireframe {
        display: flex;
    }

    .userstory-map {
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    .userstory-map-descrip {
        display: flex;
        flex-direction: row-reverse;
        gap: 2em;
    }

    .invite-process h5 {
        font-size: 1.5rem;
        color: #c5620b;
    }

    .invite-process ul {
        display: flex;
        flex-direction: column;
        gap: .5em;
        list-style-type: decimal;
        font-weight: bold;
        padding: 1em;
    }

    h6 {
        font-size: large;
    }

    .invite-process div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .invite-process div img {
        width: 70
    }

    .validation {
        display: flex;
        flex-direction: column;
        gap: 5em;

    }

    .requirement-completion {
        display: flex;
        gap: 2em;
    }

    .requirement-completion figure img {
        width: 70%;
        border: 5px solid rgb(166, 215, 230);
        border-radius: 5px;
    }
}